<component name="ArtifactManager">
  <artifact type="war" name="springweb1:war">
    <output-path>$PROJECT_DIR$/springweb1/springweb1/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springweb1</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springweb1.war">
      <element id="artifact" artifact-name="springweb1:war exploded" />
    </root>
  </artifact>
</component>